*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e3e3e3;
}

form{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 7px;
    margin-left: 38%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 300px;
    height: 45px;
    padding: 7px;
    font-size: 20px;
}

.btn-1{
    background-color: rgb(56, 56, 231);
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

a{
    color: blue;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
}

a:hover{
    text-decoration: underline;
}

.btn-2{
    margin-top: 20px;
    background-color: rgb(7, 244, 7);
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

.hori{
    width: 300px;
    height: 1px;
    background-color: #e3e3e3;
}